export JWT_SECRET="so-secret"
export GRAPHQL_ENDPOINT="http://localhost:60000/simple/v1/cj9v9vl1u000201661t177fop"
export ADMIN_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MTA0MDEyMDMsImNsaWVudElkIjoiY2o4bHJodDl0MDAwMDAxMjcxZGtqcXN0byIsInByb2plY3RJZCI6ImNqOXY5dmwxdTAwMDIwMTY2MXQxNzdmb3AiLCJwZXJtYW5lbnRBdXRoVG9rZW5JZCI6ImNqOXY5dm4weTAwMW4wMTY2c3A5cGQ0MmkifQ.UF5vHNdAGWAbmi9xV_VR2vqG7D_Vep6MVbNvYdWRTv4"
